body, html {
  margin: 40px;
  margin-top: 40px;
  color: #222;
  background-color: #fff;
  font-family: monospace;
  font-size: 14px;
  line-height: 20px;
  text-size-adjust: 100%;
}

a, a:visited {
  color: #42ddf5;
  text-decoration: none;
}

a:hover {
  font-weight: bolder;
  transition: 130ms linear;
}

input, input:focus {
  border: none;
  font-family: monospace;
  font-size: 14px;
  color: rgba(0, 0, 0, .55);
  outline: none;
}

::selection {
  background: rgba(55, 255, 0, .3);
  padding: 6px;
}

hr {
  width: 15%;
  margin-left: 0px;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

code, .header {
  user-select: none;
}

.header {
  font-weight: bold;
}

.footer {
  color: #aaaaaa;
  font-size: 10px;
  padding-left: 60px;
  padding-top: 10px;
}

.footer span {
  display: block;
}

.info {
  padding-left: 10px;
  margin-left: 20px;
  border-left: 2px dotted rgba(0, 0, 0, 0.6);
}

.info span {
  display: block;
}
